<div class="articles-container">
    {{#each articles}}
        <a href="/articles/{{this._id}}">
            <article class="article-container">
                <div class="article-image">
                    <img src="{{this.mainImage}}" alt="Cover image">
                    <span class="article-short-title">{{this.site}}</span>
                </div>
                <div class="article-data">
                    <h2 class="article-title">{{this.title}}</h2>
                    {{#if this.meta.publishedAt }}
                        <small>{{formatDate this.meta.publishedAt}}</small>
                    {{/if}}
                    <p class="article-summary">{{this.meta.thumbnailDescription}}</p>
                </div>
            </article>
        </a>
    {{/each}}
</div>
