<div id="single-article">
    <div class="card shadow">
        <div class="card-header border-0 clearfix">
            <div class="row">
                <div class="col-md-3">
                    <span class="p-3 badge badge-lg bg-gradient-blue text-white font-weight-500 text-capitalize">#{{article.id}}</span>
                </div>

                <div class="col-md-3 offset-md-6">
                    <span class="p-3 badge badge-pill badge-lg bg-gradient-indigo text-white float-md-right">{{article.site}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow my-4">
        <div class="card-body">

            <a {{#unless article.type }}style="display: none;"{{/unless}}
               class="btn btn-default btn-block send-to-board text-white"
               data-article-id="{{article._id}}">
                <span class="text">Send to board</span>
                <img class="loader" style="display: none;" src="/images/loader.svg" alt="Loader"/>
            </a>
            <a {{#if article.type }}style="display: none;"{{/if}}
               class="btn btn-default btn-block process-type text-white"
               data-article-id="{{article._id}}">
                <span class="text">Process type in WEKA</span>
                <img class="loader" style="display: none;" src="/images/loader.svg" alt="Loader"/>
            </a>

            <div class="mt-2">
                <p class="font-weight-500 mb-0 message">&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="card shadow my-4">

        <div class="card-body">
            <p class="font-weight-500 text-capitalize">{{article.createdAt}}</p>

            <div>
                <h2>{{article.title}}</h2>
            </div>
            <div class="mb-4">
                <img class="img-thumbnail" src="{{article.mainImage}}" alt="Article's main image thumbnail"/>
            </div>

            <div>
                <h4>Author</h4>
                <p>{{article.author}}</p>
            </div>
            <div>
                <h4>Info</h4>
                <p>{{article.info}}</p>
            </div>
            <div>
                <h4>Summary</h4>
                <p>{{{article.summary}}}</p>
            </div>
            <div>
                <h4>Processed Data</h4>
                <pre>{{article.processed}}</pre>
            </div>
            <div>
                <div>
                    <div class="card shadow my-4">
                        <div class="card-header bg-gradient-indigo text-white clearfix">
                            <div class="float-left">
                                <span>Images</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary generate-features text-white"
                                    data-article-id="{{article._id}}">Generate Features
                            </button>
                            <div class="row">
                                {{#each article.images}}
                                    <div class="col-md-3 my-4">
                                        <img class="image" src="{{this.url}}" alt="Article Image"/>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>